/*sets up main web page style*/
body{
  width: 1000 px;
  background:#C2D5DB;
  padding: 50px 50px 50px 50px
}

/*Header Format */
h1{
  font-family: 'Charm', cursive;
  font-size: 36px;
  font-weight: normal;
}

h2{
  font-family: 'Charm', cursive;
  font-size: 30px;
  font-weight: normal;
}

h3{
  font-family: 'Charm', cursive;
  font-size: 24px;
  font-weight: normal;
}

p{
  font-family: 'Coming Soon', cursive;
  font-size: 18px;
  font-weight: normal;
}

/*Link Format*/
a{
  color: #1AD1FA;
  text-decoration:none;
  transition: text-decoration .5s;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color: #A105BA
}

/*Button Format*/
button{
  font-family: 'Charm', cursive;
  font-weight: normal;
  background-color: #789FBB;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 12px;
  transition-duration: .3s;
  box-shadow: 4px 4px 4px #6F899C;
}

button:hover{
  text-decoration: underline;
}

button:active{
  background-color: #1E698D;
  font-size: 20px;
}

.button{
  font-family: 'Charm', cursive;
  font-weight: normal;
  background-color: #789FBB;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 12px;
  transition-duration: .3s;
  box-shadow: 4px 4px 4px #6F899C;
}

.button:hover{
  text-decoration: underline;
}

.button:active{
  background-color: #1E698D;
  font-size: 20px;
}

/*Tabs format*/
.tabs {
  display: flex;
  margin: 3vw

}

.days{
  flex-grow: 1;
  width:auto;
  height:100px;
  border: 3px solid #1E698D;
  color: white;
  background-color: #789FBB;
  text-align: center;
}

.active{
  background-color: #1E698D;
  height: 90px;
}

/*flexbox formats for layout styling*/
.flex1 {
  display: flex;
  flex-grow: 1;
  width:auto;
  margin:3vw;
  gap: 10px;
}

.flex2 {
  display: flex;
  flex-grow: 2;
  width:auto;
  margin:3vw;
  gap: 50px
}

/*Image format*/
img{
  width:30vw;
}

/*Makes the tab text unselectable: does not work in Chrome*/
.unselectable {
  user-select: none;
}

/*Circle format*/
#span{
  height: 25px;
  width: 25px;
  background-color: #26AD74;
  border:5px solid #8ABCA7;
  border-radius: 50%;
  display:block;
  margin: auto;
}

.centerflex{

  justify-content: center;
}

/*defines the meditation animation*/
.dot{
  animation-name: expand;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: 30;
  animation-direction: alternate;
  height: 25px;
  width: 25px;
  background-color: #26AD74;
  border:5px solid #8ABCA7;
  border-radius: 50%;
  display:block;
  margin:auto;

}

@keyframes expand{

  0%{
    height:25px;
    width:25px;
  }
  25%{
    height:25px;
    width:25px;
  }
  75%{
    height:75px;
    width:75px;
  }
  100%{
    height:75px;
    width:75px;
  }
}


/*creates the toggleing appearance for tabs*/
#MondayPlan, #TuesdayPlan, #WednesdayPlan, #ThursdayPlan, #FridayPlan, #SaturdayPlan, #SundayPlan{
  display:none;
}

#meditate{
  display:none;
}

/*Manages the slug ability visibility for different levels at startup*/
#Level2, #Level3, #Level4, #Level5, #Level6, #Level7{
  display:none;
}
