/*Header Format */
h1{
  font-family: 'Fredericka the Great', cursive;
  font-size: 36px;
  color: #7490B6;
  font-weight: normal;
  text-align: center;
}

h2{
  font-family: 'Fredericka the Great', cursive;
  font-size: 24px;
  /*color: #7490B6;*/
  font-weight: normal;
}

h3{
  font-family: 'Fredericka the Great', cursive;
  font-size: 18px;
  color: #7490B6;
  font-weight: normal;
}

h4{
  font-family: 'Fredericka the Great', cursive;
  font-size: 14px;
  color: #7490B6;
  font-weight: normal;
}

h5{
  font-family: 'Fredericka the Great', cursive;
  font-size: 13px;
  color: #7490B6;
  font-weight: normal;
}

h6{
  font-family: 'Fredericka the Great', cursive;
  font-size: 12px;
  color: #7490B6;
  font-weight: normal;
}


/*Defines the page text / backgound style */
body{
  font-family: 'Love Ya Like A Sister', cursive;
  color: #7490B6;
  width: 1000 px;
  background:#F1DDDB;
  padding: 50px 50px 50px 50px
}




/*Tab formating*/
.tabs{
  display:flex;
  margin: 3vw;
}

.tab{
  flex-grow: 1;
  width:50vw;
  height: 100px;
  border: 3px solid green;
  color: black;
  background-color: red;
  text-align: center;
}

.active{
  height: 90px;
  background-color:blue;
  color:orange
}

#AboutMePage, #WorksPage, #ResumePage{
  display: none;
}
.centertext{
  text-align: center;
}

/*Link Style/Formatting */
a{
  color: #B86A78;
  text-decoration:none;
  transition: text-decoration .5s;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color: #8370A4
}

/*Button Style/Formatting*/
.blue_button{
  background-color: #7490B6;
  border: none;
  color: #EACA85;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
  transition-duration: .3s;
  box-shadow: 4px 4px 4px #60799A;
}

.blue_button:hover{
  border: 2px solid #61799A;
}

.blue_button:active{
  background-color: #607798;
  border: none;
  font-size: 10px;
}

/*Allows elements to display side-by-side */
/*.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.display2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-style: solid;
  border-color: #DCBFC4;
  border-width: 3px;
}
.display4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
